<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Input Form</title>
</head>
<body>
    <form action="/output" method="post">
        <label for="inputValue">
        Thymeleaf 課題 <br>
        入力画面 <br>
        値を入力してください<br>
        </label>
        <input type="text" id="inputValue" name="inputValue" th:value="${inputValue}" />

        <button type="submit">送信</button>
    </form>

    <div th:if="${previous != null}">
        <p th:text="'前回入力された値は「' + ${previous} + '」でした。'"></p>
    </div>
</body>
</html>
